@import "tailwindcss";

body{
  @apply bg-gray-200;
}
h1{
  @apply text-3xl md:text-4xl lg:text-5xl font-bold p-3;
}

.navbar{
  @apply text-xl md:text-2xl lg:text-3xl bg-blue-500 text-white flex-grow flex justify-around p-3;
}

p{
  @apply text-base lg:text-lg;
}

form{
  @apply flex flex-col m-2 text-xl;
}

.form-container{
  @apply max-w-md mx-auto p-1 m-7 bg-white shadow-2xl rounded-2xl;
}

input{
  @apply border px-3 py-1 mt-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 text-sm lg:text-base;
}

button{
  @apply border-2 p-1 m-2 mt-4 font-semibold bg-blue-500 text-white cursor-pointer;
}